<h2>@ViewBag.Message</h2>

<address>
    Michał Hejduk<br />
    <abbr title="Phone">P:</abbr>
    672123312
</address>

<address>
    <strong>Support:</strong>   <a href="michal.hejduk@student.put.poznan.pl">michal.hejduk@student.put.poznan.pl</a><br />
</address>